@import  'libs/lib.less';
@import  'libs/var.less';
@import  'libs/smart-grid.less';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&subset=cyrillic');

.reset();

a{
	text-decoration: none;
}

nav{
	li{
		list-style: none;
	}
}

figure,
aside,
menu,
nav,
header,
footer,
article,
section {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

/* Fonts */


.wrapper{
	.wrapper();
}

h1{
	.font-size(48);
	.md(font-size; 40px);
	.sm(font-size; 30px);
	.xs(font-size; 24px);	
}
h2{
	.font-size(36);
	.md(font-size; 30px);
	.sm(font-size; 24px);
	.xs(font-size; 20px);
}
h3{
	.font-size(30);
	.md(font-size; 24px);
	.xs(font-size; 20px);
}
h4{
	.font-size(24);
	.xs(font-size; 20px);
}
h5{
	.font-size(20);
	.xs(font-size; 18px);
}
h6{
	.font-size(18);
	.xs-block({
		font-size: 16px;
		font-weight: bold;
	});
}
p{
	font-size: 16px;
}

*{
	box-sizing: border-box;
}
body {
	color: #000;
	max-width: 1920px;
	font-family: 'Montserrat', Arial, sans-serif;
	font: 16px/2rem 'Montserrat', Arial, sans-serif;
	img{
		max-width: 100%;
		height: auto;
	}
}

/* Atomic */

.d-n{
	display: none;
}


.tt-u{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

/* Примеси */

.shadow(@alpha: 0.25){
	box-shadow: 0px 5px 6px 0px rgba(0,0,0, @alpha);
}


/* Глобальные блоки */

.ico{
	display: inline-block;
	margin: 0 10px;
	width: 1rem;
}

.btn{
	font-size: 18px;
	font-weight: 700;
	color: @white;
	background-color: @light_green;
	border: none;
	border-radius: 31px;
	line-height: 61px;
	height: 61px;
	text-align: center;
	padding: 0 90px;
	cursor: pointer;
	.shadow();
}

.row{
	.row-flex();
}

/* Верстка */

header.header{
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	
	.wrapper{
		display: flex;
		align-items: center;
	}

	.logotype{
		margin: 10px 20px;
	}

	.header-nav{
		flex-grow: 1;

		&__ul{
			display: flex;
			align-items: baseline;
			justify-content: center;
		}

		&__li{
			font-size: 14px;
			margin: 5px 20px;
		}

		&__a{
			font-weight: 500;
			color: @white;
		}

		&__ico{

		}

	}

	.header-menu{
		margin: 10px 20px;

		&__ul{
			display: flex;
			align-items: baseline;
		}

		&__li{
			font-size: 16px;
			margin: 5px 20px;
		}

		&__a{
			font-weight: 600;
			color: @white;
		}

		&__ico{
			position: relative;
			top: 3px;
		}
	}
}

section.first-screen{
	padding: 216px 0 277px 0;
	background: #fff url('../img/bg1.jpg') no-repeat 52% 0%;
	min-height: 100vh;

	.first-article{
		

		.offset-left(5);
		.size(6);
		color: @white;

		&__h{
			font-weight: 800;
			font-size: 24px;
			line-height: 1.2;
			margin-bottom: 30px;
		}

		&__span{
			font-size: 42px;
			display: block;
		}

		&__p{
			margin-bottom: 25px;
			width: 80%;
			line-height: 1.2;
			font-weight: 600;
		}

		&__button{

		}

		.button-wrapper{

		}
	}
}

section.video-block{

	padding: 80px 0;
	background-color: #fff;

	.wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.video-res{
		.prop-element();
		.col();
		.size(6);
	}

	.article{
		
		.col();
		.size(6);
		color: #000;
		&__h{
			font-size: 30px;
			font-weight: 700;
		}
	}

	.ul-image{
		
		

		&__li{
			
			padding: 10px 15px;
			&:before{
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				background-image: url('../img/icons/arrow.svg');
			}
		}

		&__span{

		}
	}

	.ul-disc{

		&__li{
			
			&:before{
				content: '\2022';
				font-size: 40px;
				color: @light_green;
			}
		}
	}
}


